
body {
    background: gray;
}
.container {
    background: gray;
}

.toDoElement{
    display: flex;
    align-items: center;
    height: auto;
}


button{
    background-color: #fff;
    margin-bottom: 1px;
    flex: 1;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 10px;

}

.showButton {
    display: inline ;
}

.hideButton {
    display: none;
}

.toDoText{
    overflow: auto;
}